server:
  port: 8082

spring:
  application:
    name: department-service
  cloud:
    discovery:
      enabled: true
      service-registry:
        auto-registration:
          enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8762/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"